.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.sidebar-container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  outline: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.login-pane{
  margin-left: 8em;
  margin-top: 3em;
}