registry=http://e55ba6a3.ngrok.io/
//bfeb8447.ngrok.io/:_authToken="QWxPLWuO17jU/ja6/dwugQ=="
//localhost:4873/:_authToken="QWxPLWuO17jU/ja6/dwugQ=="
//comnetsoftware.pkgs.visualstudio.com/_packaging/SITADayton_NPM/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI1ZDRlMWNlNi1iMDUyLTZmMDMtODRmYy0xNTIzNjUxOTYwYjgiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYjhkM2NiNTctOTA4MC00N2Y2LWFmYzEtZDBhZjBmYjg4MDQ1Iiwic2lkIjoiNTA1NzA5NWUtNGQ3ZC00Y2IwLWExOWQtMGYxNmVlNTJjMTFjIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286Nzc4ZjNkYjItNmQ5Zi00ZTNhLTkxM2ItNTJmNTVkZGNjZTBkIiwibmJmIjoxNTM5MDIyMTkxLCJleHAiOjE1NDY3OTg3OTF9.cwymhEwkMNY4WYW3uV2Y0mz4ULYZ_dNYQq37Rd63kZAWX0AqmSaE_MJNYHAk4G73lB781NlIqWtc2AeWkwHmP9Tu0Q5TXeXauYOkP5s67AZbSLFfwGLu2Vku7LFPjeu7SNw0o0Pyp06WOIC9tosUdsipk0CF4OMHIGy2HlcuI0V01s9FkTEMi9yf4OF8S80ua-IZLa8CR2UeKYERvlKjP8qf9Hc0Qe5DwcDYgr3PszsdR3CJpWiMVLJplli7vsgLNAgjucLBNX-gyw_3VhNn-4L_Jj2uHFJ-l388iNMDw43Smk-12ghGkIjtmTcg6snzR38aBfUDbvfE6nmnEm0cLQ
//comnetsoftware.pkgs.visualstudio.com/_packaging/SITADayton_NPM/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI1ZDRlMWNlNi1iMDUyLTZmMDMtODRmYy0xNTIzNjUxOTYwYjgiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYjhkM2NiNTctOTA4MC00N2Y2LWFmYzEtZDBhZjBmYjg4MDQ1Iiwic2lkIjoiNTA1NzA5NWUtNGQ3ZC00Y2IwLWExOWQtMGYxNmVlNTJjMTFjIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286Nzc4ZjNkYjItNmQ5Zi00ZTNhLTkxM2ItNTJmNTVkZGNjZTBkIiwibmJmIjoxNTM5MDIyMTkxLCJleHAiOjE1NDY3OTg3OTF9.cwymhEwkMNY4WYW3uV2Y0mz4ULYZ_dNYQq37Rd63kZAWX0AqmSaE_MJNYHAk4G73lB781NlIqWtc2AeWkwHmP9Tu0Q5TXeXauYOkP5s67AZbSLFfwGLu2Vku7LFPjeu7SNw0o0Pyp06WOIC9tosUdsipk0CF4OMHIGy2HlcuI0V01s9FkTEMi9yf4OF8S80ua-IZLa8CR2UeKYERvlKjP8qf9Hc0Qe5DwcDYgr3PszsdR3CJpWiMVLJplli7vsgLNAgjucLBNX-gyw_3VhNn-4L_Jj2uHFJ-l388iNMDw43Smk-12ghGkIjtmTcg6snzR38aBfUDbvfE6nmnEm0cLQ
ca=null
